@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    background-color: #32322C;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

/* Header */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.wrapper.swipe-in {
    animation: swipeIn 0.5s forwards;
}

.wrapper.swipe-out {
    animation: swipeOut 0.5s forwards;
}

.top {
    height: 80px;
    background-color: #7B9E87;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.hi {
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
}

header {
    width: 100%;
}

.menu {
    text-align: left;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu ol {
    list-style-type: none;
    padding: 0;
}

.menu ol li {
    display: inline-block;
    margin-right: 40px;
}

.menu ol li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu ol li a:hover {
    color: #32322C;
}

.middle {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%; /* Ensure middle takes full width */
}

/* Footer and icons */

.bottom {
    background-color: #7B9E87;
    margin-top: auto;
}

footer {
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    font-size: 0.8rem;
    position: relative;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.social-icon {
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
    margin: 0 10px; /* Space between the icons */
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* Accordion */

.accordion {
    border: solid 2px whitesmoke;
    text-align: center;
    width: 85rem;
    font-size: 25px;
    font-weight: 600;
    color: #32322C;
    background-color: #7B9E87;
    border-radius: 10px;
}

.accordion-body{
    text-align: justify;
    font-size: 15px;
}

h1.c1, h1.c2 {
    color: whitesmoke;
    font-size: 20px;

}

h2.sem1{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
}

h2.comp{
    margin-top: 15px;
    color: #32322C;
    font-size: 20px;
    font-weight: 800;
}

p.comp{

    font-weight: 600;
}

.collapsed {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

[data-ui-tablist-tabpanel] {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}


.swipe-in {
    animation: swipeIn 0.5s forwards;
}

.swipe-out {
    animation: swipeOut 0.5s forwards;
}

@keyframes swipeIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes swipeOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
