@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #32322C;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    height: 12vh;
    background-color: #7B9E87;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

header {
    width: auto;
}

.menu {
    text-align: left;
}

.menu ol {
    list-style-type: none;
    padding: 0;
}

.menu ol li {
    display: inline-block;
    margin-right: 40px;
}

.menu ol li:last-child {
    margin-right: 0;
}

.menu ol li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu ol li a:hover {
    color: #32322C;
}

.middle {
    flex: 1;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
}

.content {
    flex: 1;
    max-width: 60%; /* Adjust based on your layout preference */
}

.bitmoji {
    max-width: 300px;
    margin-right: 70px;
    align-self: center;
    border-radius: 50%; /* Adds a rounded shape to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

h1.hi {
    margin-top: 15px; /* Remove any default margin */
    margin-bottom: 10px; /* Add some space below the h1 */
    font-style: italic;
}

h2.about {
    margin-left: 15px;
    margin-top: 75px;
    margin-bottom: 10px; /* Adjust margin to reduce space between h2 and p */
}

p.pres {
    margin-left: 15px;
    margin-top: 0; /* Remove margin-top to be directly below h2 */
    font-size: 1.3rem; /* Increase font size */
    line-height: 1.6;
    text-align: justify; /* Ensures text is justified */
    background: rgba(255, 255, 255, 0.1); /* Adds a subtle background */
    padding: 15px;
    border-radius: 10px; /* Adds rounded corners */
}

.bottom {
    background-color: #7B9E87;
}


footer {
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    font-size: 0.8rem;
    position: relative;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
    margin: 0 10px; /* Space between the icons */
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}
